<main class="container">
  <div class="row">
    <h1 class="text-center">4 PICTURES 1 WORD</h1>
  </div>
  <section id="guessPictures" class="row">
    <div class="col-xs-6 text-center">
      <img id="picture1" class="img-responsive" width="200" ng-src="assets/images/{{main.level.name}}/1.jpg">
    </div>
    <div class="col-xs-6 text-center">
      <img id="picture2" class="img-responsive" width="200" ng-src="assets/images/{{main.level.name}}/2.jpg">
    </div>
    <div class="col-xs-6 text-center">
      <img id="picture3" class="img-responsive" width="200" ng-src="assets/images/{{main.level.name}}/3.jpg">
    </div>
    <div class="col-xs-6 text-center">
      <img id="picture4" class="img-responsive" width="200" ng-src="assets/images/{{main.level.name}}/4.jpg">
    </div>
  </section>
  <div class="row" ng-show="main.isCorrectGuess">
    <div class="col-xs-12 text-center">
      <button class="bnt btn-primary btn-lg" ng-click="main.nextLevel()">Correct! Go to the next level</button>
    </div>
  </div>
  <section ng-show="!main.isCorrectGuess">
    <div class="row text-center">
      <span
        ng-repeat="letter in main.rigthPadSpacesGuess(main.input.guess) track by $index"
        class="letterButton btn btn-default"
      >
        {{letter}}
      </span>
      <span
        ng-click="main.startLevel()"
        class="letterButton btn btn-raised btn-default">
        <span class="glyphicon glyphicon-repeat"></span>
      </span>
    </div>

    <div id="guess-block" class="text-center" ng-show="!main.isCorrectGuess">
      <span
        ng-repeat="letter in main.letters track by $index"
        ng-click="main.insertLetter(letter)"
        class="letterButton btn btn-raised btn-info"
        ng-attr-data-letter="{{letter.used ? '':letter.char}}"
      >
        <span>
          {{letter.used ? '&nbsp;':letter.char}}
        </span>
      </span>
    </div>
  </section>
</main>