<main class="container">
  <div class="row">
    <h1 class="text-center">4 pictures 1 word</h1>
  </div>
  <section id="guessPictures" class="row">
    <div class="col-xs-6 text-center">
      <img class="img-responsive" width="200" ng-src="assets/images/level{{main.currentLevel}}/1.jpg">
    </div>
    <div class="col-xs-6 text-center">
      <img class="img-responsive" width="200" ng-src="assets/images/level{{main.currentLevel}}/2.jpg">
    </div>
    <div class="col-xs-6 text-center">
      <img class="img-responsive" width="200" ng-src="assets/images/level{{main.currentLevel}}/3.jpg">
    </div>
    <div class="col-xs-6 text-center">
      <img class="img-responsive" width="200" ng-src="assets/images/level{{main.currentLevel}}/4.jpg">
    </div>
  </section>
  <div class="row" ng-show="main.isCorrectGuess">
    <div class="col-xs-12 text-center">
      <button class="bnt btn-primary btn-lg" ng-click="main.nextLevel()">Correct! Go to the next level</button>
    </div>
  </div>
  <div class="row" ng-show="!main.isCorrectGuess">
    <form action="" autocomplete="off" class="col-xs-6 col-xs-offset-3">
      <div class="form-group label-static is-empty">
        <label for="i1" class="control-label">Your guess</label>
        <input 
          ng-model="main.input.guess"
          class="form-control input-lg"
          type="text"
          maxlength="10"
          required="required"
          id="i1"
          placeholder="Type your guess here">
      </div>
    </form>
  </div>
</main>